@config "../tailwind.config.js";
@import "tailwindcss";

html {
  scroll-behavior: smooth;
  scrollbar-color: color-mix(in oklch, currentColor 35%, transparent)
    transparent;
  --heroui-background: ghostwhite;
  font-family: var(
    --default-font-family,
    ui-sans-serif,
    system-ui,
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol",
    "Noto Color Emoji"
  );
}
.recharts-label-list {
  pointer-events: none;
}

.text-desc {
  @apply text-xs text-default-500;
}

.before\:bg-gradient-to-r::before {
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0) 0%,
    oklab(0.9 0 0 / 0.08) 50%,
    rgba(0, 0, 0, 0) 100%
  ) !important;
}

.dark .before\:bg-gradient-to-r::before {
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0) 0%,
    oklab(0.3 0 0 / 0.12) 50%,
    rgba(0, 0, 0, 0) 100%
  ) !important;
}

.mapboxgl-popup-close-button,
.mapboxgl-popup-tip {
  display: none;
}

.mapboxgl-popup-content {
  padding: 0 !important;
  background: transparent !important;
}

ul {
  list-style-position: inside;
}

.dark line[stroke-width="1"][stroke="#dddddd"] {
  stroke: #ffffff26;
}

.funnel-chart path {
  cursor: pointer;
}
